@font-face {
	font-family: "SFProDisplay"; 
	src: url("../fonts/SFProDisplayLight.eot"); 
	src: url("../fonts/SFProDisplayLight.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/SFProDisplayLight.woff2") format("woff2"), 
	url("../fonts/SFProDisplayLight.woff") format("woff"), 
	url("../fonts/SFProDisplayLight.ttf") format("truetype"), 
	url("../fonts/SFProDisplayLight.svg#SF Pro Display") format("svg"); }
@font-face {
	font-family: "SFProDisplay Bold"; 
	src: url("../fonts/SFProDisplay.eot"); 
	src: url("../fonts/SFProDisplay.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/SFProDisplay.woff2") format("woff2"), 
	url("../fonts/SFProDisplay.woff") format("woff"), 
	url("../fonts/SFProDisplay.ttf") format("truetype"), 
	url("../fonts/SFProDisplay.svg#SF Pro Display") format("svg"); }
body{
	font-family: "SFProDisplay"!important; 
}
header{
	background-color: #202020;
}
footer{
	background-color: #252525; 
}
#LiveStream{
	background-color: #202020;
}
.fa-bars:before {
    content: "\f0c9";
}
.menu-item{
	font-size: 12px;
	font-family: "SFProDisplay";
	opacity: 0.73;
}
#LiveStream .bloc1 h1{
	font-size: 20px;
}
#LiveStream .bloc2 h2{
	font-size: 20px;
}
#LiveStream .bloc2 h3{
	font-size: 50px;
	opacity: 0.1;
	letter-spacing: -1.56px;
}
#LiveStream .bloc2 a.download{
	font-size: 13px;
	line-height: 1.77;
  	letter-spacing: 0.33px;
}
#LiveStream .bloc2 a.g-key{
	font-size: 13px;
	line-height: 1.77;
  	letter-spacing: 0.33px;
  	width: max-content;
}
#LiveStream .bloc2 button{
	font-size: 12px;
	line-height: 1.17;
	color:#252525;
    font-family: "SFProDisplay"!important;
}
#LiveStream .subtitle{
	font-size: 12px;
	opacity: 0.6;
}
.font-12{
	font-size: 12px;
}
.titleNewsletter{
	font-family: "SFProDisplay Bold";
	font-size: 35px;
  	font-weight: 900;
}
.subtitleNewsletter{
	font-size: 18px;
	opacity: 0.8;
}
#newsletter input{
	background: transparent;
    height: 60px;
    border:2px solid #fff;
}
#newsletter button{
	position: absolute;
	top: 7px; 
	right: 23px;
	width: 46px;
	height: 46px
}
#newsletter button i{
	vertical-align: middle;
	position: relative;
    left: 2px;
}
footer .nav-link{
	opacity: 0.2;
	font-size: 16px;
}
footer .copyright{
	height: 19px;
  	opacity: 0.45;
  	font-size: 16px;
}
footer .border-top{
	border-color: #707070!important;
}
